
*{ -webkit-user-drag: none; /* Para navegadores WebKit como Safari */
  }

/*container global*/
.chat-app-container {
    
    display: flex;
    flex-direction:row;
    height: 100%;
    height: 100vh;
    border-right: 1px solid #ccc;
    overflow: hidden;
    
   
  }

  /*div de la parte izquierda de la aplicacion*/

  .contactsAndMenu{
    
    height: 100%;
    width: 30%;
    
    margin-top: 0px;
   
    
  }

  /*header del la parte izquierda*/
  .chat-header {
    
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #3f51b5;
    color: white;
    
  
   
  }
  .logout-button:hover {
    color: #555;
    
  }
  
  .buttonconfig:focus {
    outline: none;
  }
  .apptitle{
    font-size: 16px; 
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 0px;
    height: 100%;
    }
  .menuItemText{font-size: 10px;
}
  .mat-menu-panel {
    
    min-width: 300px; /* Ancho mínimo */
    max-width: 300px; 
    overflow-y: auto; 
    position: absolute; 
    right: 0;
    font-size: 10px; 
    opacity: 0; 
    transition: opacity 0.3s ease;
    
  }
  .mat-menu-panel.show {
    opacity: 1; 
  }
  .mat-menu-item {
    padding: 4px 8px; 
    display: flex; 
    align-items: center;
    transition: background-color 0.3s ease; 
    font-size: 6px;
  }

  .mat-menu-item:hover {
    background-color: #f0f0f0; 
  }
  .contact-item:hover{
    background-color: #f0f0f0; 
  }
  .icon {
    margin-right: 30px;
    transform: scale(0.8);
    margin-top: 4px;
    
  }
  .chat-section {
    flex: 1; /* Permite que esta sección ocupe el espacio restante */
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    background-color: f0f0f0;
    
  }
  .logout-button {
    display: flex;
    position: absolute;
    right: 4px;
    top: 1px;
    align-items: center;
    height: 100%;
    width: 50px;
    
  }
  .iconConfig{
    color: rgba(0, 0, 0, 0.7);
    
  }
  .buttonconfig {
    background: none;
    border: none;
    
  }
  mat-form-field{
    height: 20px;
  }
  mat-autocomplete{
    height: 10px;
  }
 
  /* #############################################*/
/* buscador*/
  .search-container{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  .search {
      width: 100%;
      text-align: center;
      height: 90%;
      border-radius: 25px;
      border: 1px solid #d3d5e5;
      outline: none;
      transition: all 0.3s ease;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      background-color: white;
      font-size: px;
      color: #333;
  }
  
  
  .select-new-chat{
    font-size: 16px;
    max-height: 10px;
  }

  /* #############################################*/

  /* lista de chats activos*/

  .scrollcontactos{ 
    margin-top: 0;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
  

  .listaContactos{
    padding: 0;
    margin-top: 4px;
    
    
  }
  .contact-item{
    position: relative;
    min-height: 80px;
    padding: 0;
    flex-direction: row;
    border-bottom: 2px solid #ccc;
    
    
  }

 
  mat-list {
    padding: 0;
  }
  
  /* items dentro de la card de chats activos*/
  .avatar{
    
    width: 70px;
    margin-left: 5px;
    align-items: center;
    text-align: center;
    height: 70px;
    border-radius: 50%;
  }
  /*datos dentro del chat*/
  .messageColum{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 3;
   
  }
  /*el nombre y la fecha en la parte de arriba*/
  .chat-info{
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100%;
    margin-left: 20px;
  }

  .nameChat{
    
    font-size: 18px;
    flex: 4;
    margin-top: 0px;
    text-transform: uppercase;
    height: 10px;
    color: #555;
  }

  .dateChat{
    font-size: 10px;
    align-items: end;
    
    flex: 1;
    color: rgba(0, 0, 0, 0.7);
    -webkit-user-drag: none;
  }

  .messageContact{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-left: 20px;
    width: 100%;
    height: 20px;
    
  }
  
  /*************************************************/

  .chat-body {
    
    flex: 1;
    width: 100%;
    height: 100%;
    
  }

  .chat-section{
    background-color: #ede2ed;
  
  }
   /*******header del chat de mensajes*******************/


  .chat-message-header{
    position:relative;
    height: 60px;
    width: 100%;
    display: flex;
    background-color:whitesmoke ;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .chat-header-name{
    
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content:center;
    margin-left: 40px;
  }
  .chat-area{
    height: 100%;
    background: #ede2ed;
    display: flex;
    flex: 1;
    align-items:flex-start;
    overflow-y: scroll;
    flex-direction: column;
    
  }
  .chat-window{
    
    display: flex;
    flex: 1;
  
  }
 
  /*footer chats*/
  .input{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    display: flex;
    background-color:whitesmoke ;
    align-items: center;
    justify-content: center;
  }
 
  .message-input {
    height: 40px;  
    border-radius: 25px;
    border: none;
    margin-left: 20px;
    
    box-shadow: none;
    outline: none;
    display: flex;
    flex: 2;
    text-indent: 50px;
  }
  .message-input::placeholder{
    padding-left: 5px;
    
  }
  .sendButton{
    display: flex;
    flex:1;
    margin: 0;
    box-shadow: none;
    border: none;
    background-color: transparent;
  }
  .sendButton:hover {
    box-shadow: none;
  }
  /*Chat menssage*/

  .chat-bubble-container{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
    
    
  }
  .chat-bubble-container.sender {
    
    justify-content: flex-end;
    
  }
  .chat-bubble-container.sender > .chat-bubble {
  
    background:rgb(230, 237, 223);
    margin-right: 20px;
  }
  .chat-bubble{
    
    background: white;
    font-size: 16px;
    width: fit-content;
    border-radius: 8px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:rgba(0, 0, 0, 0.7)
  }
  .chat-date{
    position: absolute;
    bottom: 10px;
    right: 8px;
    bottom: 0px;
    font-size: 10px;
    color:rgba(0, 0, 0, 0.6)
  }
  

  
 

 

 

  
 

  
 
  
 
  


 
  

