<div class="chat-app-container">

    <div class="contactsAndMenu">
      <mat-toolbar class="chat-header">
        <span class="apptitle">Chat App</span>
        <div class="logout-button" >
          <button class="buttonconfig" [matMenuTriggerFor]="menu">
            <mat-icon class="iconConfig">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="mat-menu-panel">
              <button mat-menu-item>
                  <mat-icon class="icon">settings</mat-icon>
                  <span class="menuItemText">Settings</span>
              </button>
              <button mat-menu-item (click)="Logout()">
                <mat-icon class="icon">exit_to_app</mat-icon>
                <span class="menuItemText">Logout</span>
              </button>
          </mat-menu>
        </div>
      </mat-toolbar>
       <!-- search -->
      
      <div class="search-container">
        <input matInput placeholder="buscar constactos" class="search" [formControl]="searchControl" [matAutocomplete]="users"/>
      </div>
      <mat-autocomplete  #users="matAutocomplete">
        <mat-option class="select-new-chat"  *ngFor="let user of users$ | async" (click)= "createChat(user)" >{{ user?.displayName }}</mat-option>
      </mat-autocomplete>

       <!-- Chats Activos-->
      <div class="scrollcontactos">
        <mat-selection-list class="listaContactos" [formControl]="chatListControl" [multiple]="false" hideSingleSelectionIndicator>
          <mat-divider></mat-divider>
          <mat-list-option *ngFor="let chat of myChats$ | async" class="contact-item" [value]="chat.id">
            <div style="display: flex; flex-direction: row;  height: 100%; width: 100%;  align-items: center;" >
              <img src="https://st2.depositphotos.com/3895623/5589/v/450/depositphotos_55896913-stock-illustration-usershirt.jpg" class="avatar">
              <div class="messageColum">
                <div class="chat-info">
                  <mat-card-title class="nameChat">{{ chat.chatName }}</mat-card-title>
                  <mat-card-subtitle class="dateChat" >{{ "17/10/2024"}}</mat-card-subtitle>
                </div>
                <p class="messageContact">{{ chat.lastMessage }}</p>
              </div>
            </div>
          </mat-list-option>
        </mat-selection-list>

      </div>
      
    </div>
    <div class="chat-section" >
      <!-- Sección de chat -->
      <div class="chat-body"  >
          <!-- header -->
          <div class="chat-message-header" *ngIf="selectedChat$ | async as selectedChat">
            <h2 class="chat-header-name">{{selectedChat.chatName}}</h2>
          </div>
           <!-- chat area -->
          <div class="chat-area">
            <ng-container *ngIf="user$ | async as currentUser"> 
              <div *ngFor="let message of messages$ | async" class="chat-bubble-container" [ngClass]="{'sender': message.senderId === currentUser.uid}">
                <div class="chat-bubble">
                  {{ message.text }}
                  <span class="chat-date">17/08/2024</span>
                </div>
              </div>
            </ng-container>
             <!-- Mensajes recibidos -->
            
          </div>
          <div class="input" *ngIf="selectedChat$ | async as selectedChat">
            <input matInput class="message-input"  placeholder="Escribe un mensaje"[formControl]="messageControl" (keydown.enter)="sendMessage()">
            <button class="sendButton" (click)="sendMessage()">
              <mat-icon>send</mat-icon>
            </button>
          </div>
          
          
      </div>
      
    
  </div>
    
</div>
  